.footer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}
.TS {
  color: #ffce32;

  transition: all 0.5s;
  margin-bottom: 0;
}
.TS:hover {
  color: #1d63ff;
  transition: all 0.5s;
  text-decoration: none;
  margin-bottom: 0;
}
.biuInfo {
  margin-top: 0;
}
